.body {
  margin-top: 60px;
  overflow: hidden;
}

@media screen and (max-width: 1299px) {
  .header-menu a {
    display: none;
  }
  .header-menu a.icon {
    display: block;
  }
  .header-container {
    width: 80%;
  }
}
@media screen and (min-width: 1300px) {
  .header-menu .icon {
    display: none;
  }
  .header-container {
    min-width: 1300px;
  }
}

@media (max-width: 575.98px) {
  .footer .location-list .location-item {
    height: auto;
  }
  .footer .location-list .location-item img {
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media (max-width: 767.98px) {
  .footer-wrapper-info {
    width: 100%;
  }
  .footer-wrapper-social {
    width: 100%;
  }
}
@media (max-width: 1199.98px) {
  .footer-wrapper {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 20px 12px;
  }
}

.header {
  width: 100vw;
  height: 60px;
  background-color: #2e6196;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 1000;
  top: 0;
}
.header * {
  font-family: "Linotte Bold";
}
.header ul {
  list-style: none;
}
.header li {
  font-size: 25px;
}
.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1300px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.header-menu a {
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #247ee3;
  color: white;
  padding: 8px 12px;
}

@font-face {
  font-family: "Linotte Bold";
  src: url("../fonts/Linotte Bold.ttf");
}
@font-face {
  font-family: "Linotte Light";
  src: url("../fonts/Linotte Light.ttf");
}
@font-face {
  font-family: "Linotte Semi Bold";
  src: url("../../fonts/Linotte Semi Bold.ttf");
}
@font-face {
  font-family: "Linotte Heavy";
  src: url("../fonts/Linotte Heavy.ttf");
}
@font-face {
  font-family: "Linotte Regular";
  src: url("../fonts/Linotte Regular.ttf");
}
@font-face {
  font-family: "Cookies";
  src: url("../../fonts/SVN-Cookies.ttf");
}
@font-face {
  font-family: "Barlow Condensed - Semi Bold";
  src: url("../../fonts/BarlowCondensed-SemiBold.ttf");
}
.title {
  width: 100%;
  height: 500px;
  background-color: #247fe3;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.title-wrapper {
  width: 1160px;
  position: relative;
}
.title-ui {
  position: absolute;
}
.title-ui-bg {
  bottom: -10px;
}
.title-ui-gogo {
  right: 140px;
  bottom: 40px;
  z-index: 10;
}
.title-ui-star {
  right: -45px;
  z-index: 1;
  mix-blend-mode: lighten;
}
.title-header {
  width: 465px;
  height: 209px;
  left: 180px;
  top: 75px;
  background-image: url("../../images/Questions/ui-cloud-2.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.title-header h1 {
  margin: 15px 0;
  vertical-align: middle;
  text-align: center;
  font-family: "Cookies";
  text-transform: uppercase;
  color: #247fe3;
  font-size: 62px;
  font-weight: 400;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Linotte";
}

a {
  text-decoration: none;
  color: #1067c6;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 29px;
  overflow-wrap: break-word;
}

ul {
  list-style-position: inside;
}

ul li {
  color: #322020;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 29px;
  font-weight: 400;
}

.questions-list {
  background-color: #247fe3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4e98e8), color-stop(#ffffff), to(#4e98e8));
  background-image: linear-gradient(to bottom, #4e98e8, #ffffff, #4e98e8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.questions-list .questions-item {
  width: 1212px;
  background-color: #ffffff;
  border-radius: 35px;
  -webkit-box-shadow: -19px 18px 21px 6px rgba(0, 0, 0, 0.1);
          box-shadow: -19px 18px 21px 6px rgba(0, 0, 0, 0.1);
  opacity: 0.96;
  margin-bottom: 100px;
  position: relative;
}
.questions-list .questions-item .question {
  position: absolute;
  top: -50px;
  right: 33px;
  width: 600px;
  height: 100px;
  background-color: #d1f9ff;
  -webkit-box-shadow: 7px 9px 13px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 7px 9px 13px 3px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
}
.questions-list .questions-item .question h3 {
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  color: #2681ff;
}
.questions-list .questions-item .question::after {
  content: "";
  position: absolute;
  bottom: -15px;
  right: 80px;
  border-top: 15px solid #d1f9ff;
  border-left: 5px solid transparent;
  border-right: 18px solid transparent;
}
.questions-list .questions-item .answer {
  padding-top: 54px;
  padding-left: 54px;
  padding-right: 20px;
  padding-bottom: 70px;
}
.questions-list .questions-item .answer h4 {
  width: 200px;
  height: 58px;
  border-radius: 28px;
  background-color: #ff5f11;
  color: #ffcc00;
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  line-height: 58px;
  margin-bottom: 27px;
}
.questions-list .questions-item .answer p {
  color: #322020;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 29px;
  font-weight: 400;
}
.questions-list .questions-item .answer p span {
  color: #850000;
  font-weight: 700;
  font-family: "Barlow Condensed", sans-serif;
}

.support {
  width: 100%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
  background-color: #efc74d;
}
.support-wrapper {
  margin-top: 80px;
  width: 1212px;
  height: 390px;
  border-radius: 29px;
  background-color: #f5f5f5;
  z-index: 10;
  position: relative;
}
.support-title {
  position: absolute;
  top: -45px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 913px;
  height: 90px;
  border-radius: 45px;
  background-color: #ffffff;
  -webkit-box-shadow: 7px 9px 13px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 7px 9px 13px 3px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 52px;
  line-height: 90px;
  font-weight: 400;
  color: #2681ff;
}
.support-ui {
  position: absolute;
  bottom: 0;
  z-index: 1;
}
.support-list {
  margin-top: 100px;
  padding: 0 78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 45px 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.support-item {
  width: 450px;
  height: 90px;
  -webkit-box-shadow: 7px 9px 13px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 7px 9px 13px 3px rgba(0, 0, 0, 0.1);
  border-radius: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
.support-item-content {
  padding: 15px 0;
}
.support-item-content h3 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 32px;
  font-weight: 700;
}
.support-item-content p {
  font-family: "Barlow Condensed", sans-serif;
  color: #2681ff;
  font-size: 23px;
}

@media (max-width: 575.98px) {
  body .title-header {
    width: 100%;
  }
  body .title-header h1 {
    padding-top: 20px;
    position: absolute;
    font-size: 45px;
  }
  body .questions-item .question {
    width: 100% !important;
    right: 0 !important;
  }
  body .questions-item .question h3 {
    width: 90% !important;
    margin: 0 auto;
    font-size: 25px !important;
  }
  body .support-title {
    font-size: 35px !important;
  }
  body .support-list {
    padding: 0px 20px 20px;
  }
}
@media (max-width: 400px) {
  body .support-title {
    font-size: 30px !important;
  }
  body .support-item {
    width: 100%;
    height: auto;
  }
  body .support-item p {
    overflow-wrap: anywhere;
  }
  body .support-item img {
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media (max-width: 767.98px) {
  body .support-title {
    font-size: 45px;
  }
}
@media (max-width: 1199.98px) {
  body .title {
    height: 100%;
  }
  body .title-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .title-header {
    position: relative;
    top: 0;
    left: 0;
  }
  body .title-ui-gogo {
    position: relative;
    right: 0;
  }
  body .questions-list .questions-item {
    width: 100%;
  }
  body .support {
    height: auto;
  }
  body .support-wrapper {
    width: 100%;
    height: auto;
  }
  body .support-title {
    width: 80%;
  }
}/*# sourceMappingURL=app.questions.css.map */