@media screen and (max-width: 1299px) {
  .header-menu {
    display: none;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 60px;
    gap: 0px;
    width: 100%;
  }
  .header-menu a {
    background-color: #ffffff;
    color: #247ee3;
    width: 100%;
    border-radius: 0;
  }
  .header-menu a:hover {
    background-color: #2e6196;
    color: #ffffff;
  }
  .header .icon {
    display: inline;
  }
  .header-container {
    width: 80%;
  }
}
@media screen and (min-width: 1300px) {
  .header .icon {
    display: none;
  }
  .header-container {
    min-width: 1300px;
  }
}

@media (max-width: 575.98px) {
  .footer .location-list .location-item {
    height: auto;
  }
  .footer .location-list .location-item img {
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media (max-width: 767.98px) {
  .footer-wrapper-info {
    width: 100%;
  }
  .footer-wrapper-social {
    width: 100%;
  }
}
@media (max-width: 1199.98px) {
  .footer-wrapper {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 20px 12px;
  }
}

.header {
  width: 100vw;
  height: 60px;
  background-color: #2e6196;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 1000;
  top: 0;
}
.header * {
  font-family: "Linotte Bold";
}
.header ul {
  list-style: none;
}
.header li {
  font-size: 25px;
}
.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1300px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.header-menu a {
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #247ee3;
  color: white;
  padding: 8px 12px;
}
.header a {
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #247ee3;
  color: white;
  padding: 8px 12px;
}

@font-face {
  font-family: "Linotte Bold";
  src: url("../fonts/Linotte Bold.ttf");
}
@font-face {
  font-family: "Linotte Light";
  src: url("../fonts/Linotte Light.ttf");
}
@font-face {
  font-family: "Linotte Semi Bold";
  src: url("../../fonts/Linotte Semi Bold.ttf");
}
@font-face {
  font-family: "Linotte Heavy";
  src: url("../fonts/Linotte Heavy.ttf");
}
@font-face {
  font-family: "Linotte Regular";
  src: url("../fonts/Linotte Regular.ttf");
}
@font-face {
  font-family: "Cookies";
  src: url("../../fonts/SVN-Cookies.ttf");
}
@font-face {
  font-family: "Barlow Condensed - Semi Bold";
  src: url("../../fonts/BarlowCondensed-SemiBold.ttf");
}
* {
  margin: 0px;
  padding: 0px;
  font-family: "Linotte Bold";
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.slider {
  width: 100%;
  height: 930px;
  background-color: #2786ec;
  position: relative;
  overflow: hidden;
}
.slider-img {
  position: absolute;
}
.slider .logo {
  left: 50%;
  top: 10px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.slider .people {
  left: 50%;
  top: 335px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.slider-header {
  width: 870px;
  position: absolute;
  font-size: 69px;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  top: 150px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}
.slider .btn {
  bottom: 45px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.slider .star1 {
  bottom: 10px;
  right: 150px;
  mix-blend-mode: lighten;
}
.slider .star2 {
  top: 50px;
  left: 200px;
  mix-blend-mode: lighten;
}
.slider .gogo {
  right: 5%;
  bottom: -100px;
}
.slider .phone {
  bottom: -100px;
  left: 3%;
  z-index: 2;
}
.slider .gift1 {
  bottom: 20%;
  right: 5%;
}
.slider .gift2 {
  bottom: 50px;
  left: 25%;
  z-index: 3;
}
.slider .cloud {
  top: 350px;
  right: 150px;
}
.slider-sub {
  width: 406px;
  height: 162px;
  text-align: center;
  font-size: 27px;
  position: absolute;
  top: 30%;
  right: 5%;
  padding-top: 60px;
  color: #1f417b;
  background-image: url("../../images/Homepage/CloudText.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.slider .cloud1 {
  top: 15px;
  right: 20px;
}
.slider .cloud2 {
  bottom: 230px;
  z-index: 1;
}

.body {
  margin-top: 60px;
  overflow: hidden;
}

.introduce {
  width: 100%;
  height: 170px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.introduce ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
}
.introduce-list {
  width: 180px;
  text-align: center;
}
.introduce-list p {
  color: #247ddc;
  font-size: 22px;
  font-weight: 400;
}
.introduce-list h4 {
  font-size: 24px;
  text-shadow: -1px 6px 4px rgba(0, 0, 0, 0.22);
  color: #ce393b;
}
.introduce-list span {
  font-size: 100px;
  color: #ce393b;
  text-shadow: -1px 6px 4px rgba(0, 0, 0, 0.22);
  line-height: 100px;
  font-weight: 400;
}
.introduce-rocket {
  position: absolute;
  left: 150px;
  bottom: -100px;
  z-index: 100;
}

.achievement {
  width: 100%;
  background-color: #2786ec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
}
.achievement-wrapper {
  width: 100%;
  position: relative;
}
.achievement-rocket {
  position: absolute;
  top: -50px;
  left: -40px;
}
.achievement-effective {
  margin-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.achievement-effective .content {
  margin-left: 50px;
}
.achievement-effective .content-full {
  width: 100%;
}
.achievement-effective .content-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 68px;
}
.achievement-effective .content-dotted {
  border-bottom: 1px dotted #fff;
  width: 100%;
  margin: 17px 0px;
}
.achievement-effective .content-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.achievement-effective .content-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.achievement-effective .content-col .col-no-per {
  width: 300px !important;
  border-radius: 2px 39px 40px 2px;
  margin-right: 41px;
}
.achievement-effective .content-col .info {
  font-size: 27px;
  color: #ffffff;
}
.achievement-effective .content-col .info span {
  color: #fffc00;
}
.achievement-effective .content-col .col-text {
  width: 265px;
  height: 80px;
  background-color: #ffffff;
  line-height: 80px;
  text-align: center;
}
.achievement-effective .content-col .col-text h3 {
  font-size: 34px;
}
.achievement-effective .content-col .col-text h3.color-text1 {
  color: #247ddc;
}
.achievement-effective .content-col .col-text h3.color-text2 {
  color: #33b804;
}
.achievement-effective .content-col .col-text h3.color-text3 {
  color: #ff6000;
}
.achievement-effective .content-col .col-text h3.color-text4 {
  color: #ff9c00;
}
.achievement-effective .content-col .col-per {
  min-width: 82px;
  min-height: 82px;
  border-radius: 50%;
  background-image: radial-gradient(circle 61px at 47.76% 44.89%, #19c2d2 0%, #051caa 100%);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.achievement-effective .content-col .col-per h3 {
  color: #ffffff;
  font-size: 34px;
  text-align: center;
  line-height: 82px;
}
.achievement-card {
  width: 100%;
  border-radius: 20px;
  background-color: #ffffff;
  margin-top: 54px;
  margin-bottom: 30px;
}
.achievement-card .card-img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.achievement-card .card-img img {
  -o-object-fit: contain;
     object-fit: contain;
}
.achievement-card .card-img img.img-center {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}
.achievement-card .card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.achievement-card .card-info .text-decor {
  width: 1078px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(90%, rgba(39, 134, 236, 0.99)), color-stop(0%, rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to right, rgba(39, 134, 236, 0.99) 90%, rgba(255, 255, 255, 0) 0%);
  background-position: top;
  background-size: 15px 1px;
  background-repeat: repeat-x;
}
.achievement-card .card-info .text-decor h3 {
  text-align: center;
  color: #ce393b;
  font-size: 64px;
  text-shadow: -1px 6px 4px rgba(0, 0, 0, 0.22);
  -webkit-text-stroke: 2px #fff;
  min-width: 300px;
}
.achievement-card .card-info .text-decor h4 {
  line-height: 60px;
  min-width: 300px;
  text-align: center;
  color: #247ddc;
  font-size: 33px;
}
.achievement-card .card-info .line {
  width: 1078px;
  height: 45px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(90%, rgba(39, 134, 236, 0.99)), color-stop(0%, rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to right, rgba(39, 134, 236, 0.99) 90%, rgba(255, 255, 255, 0) 0%);
  background-position: top;
  background-size: 15px 1px;
  background-repeat: repeat-x;
}
.achievement-cloud1 {
  position: absolute;
  left: -340px;
  bottom: 500px;
  z-index: 100;
}
.achievement-cloud2 {
  position: absolute;
  bottom: -100px;
  right: -300px;
}

.method {
  width: 100%;
  background-color: #cae5ff;
  position: relative;
}
.method-game {
  position: absolute;
  top: -100px;
  right: 0;
}
.method-line-1 {
  position: absolute;
  bottom: 0;
  width: 100vw;
  overflow: hidden;
}
.method-line-2 {
  position: absolute;
  bottom: 0;
  width: 100vw;
  overflow: hidden;
}
.method-title {
  text-align: center;
  padding-top: 60px;
  background: -webkit-gradient(linear, left bottom, left top, from(#05af55), to(#52c0ff));
  background: linear-gradient(to top, #05af55 0%, #52c0ff 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-size: 71px;
}
.method-sub-title {
  text-align: center;
  margin-top: 13px;
  font-size: 41px;
  color: #000000;
}
.method-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.method-yt {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}
.method-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  width: 1150px;
  position: relative;
}
.method-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
}
.method-list-item {
  width: 100%;
  min-height: 60px;
  border-radius: 6px;
  background-color: #ffffff;
  opacity: 0.6;
  padding: 8px 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.method-list-item .line {
  width: 12px;
  height: 100%;
  border-radius: 6px;
  background-color: #cae5ff;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#208ffa), to(#81dfff));
  background-image: linear-gradient(to top, #208ffa 0%, #81dfff 100%);
}
.method-list-item div {
  font-size: 21px;
  color: #004588;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 30px;
  margin-top: auto;
  margin-bottom: auto;
}

.question {
  width: 100%;
  height: 190px;
  background-color: #ff6600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.question-wrapper {
  width: 1150px;
  height: 160px;
  border-radius: 78px;
  background-color: rgba(255, 255, 255, 0.6);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.question-wrapper h2 {
  color: #ffffff;
  font-size: 45px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}
.question-wrapper img {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

.blog {
  width: 100%;
  background-color: #ffffff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
}
.blog p {
  word-wrap: break-word;
}
.blog-wrapper {
  margin-top: 85px;
  width: 1150px;
}
.blog-wrapper h2 {
  text-align: center;
  text-transform: uppercase;
  color: #ff7e00;
  font-size: 71px;
}
.blog-list {
  width: 100%;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.blog-list * {
  font-family: "Barlow Condensed", sans-serif;
}
.blog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 22px;
}
.blog-item img {
  -o-object-fit: contain;
     object-fit: contain;
}
.blog-item-content b {
  color: #000000;
  font-size: 28px;
  font-weight: 700;
}
.blog-item-content i {
  display: block;
  font-size: 22px;
  color: #010101;
  font-weight: 400;
}
.blog-item-content p {
  color: #010101;
  font-size: 19px;
  font-weight: 400;
}
.blog-main {
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.blog-main img {
  margin-bottom: 20px;
}
.blog-main b {
  display: block;
  color: #000000;
  font-size: 28px;
}
.blog-main i {
  display: block;
  color: #010101;
  font-size: 22px;
}
.blog-main p {
  font-size: 28px;
  color: #010101;
  line-height: 37px;
  font-weight: 400;
}
.blog-sub {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.answer-wrapper {
  width: 1150px;
  padding-top: 30px;
}
.answer-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffdec8;
  border-radius: 20px;
  width: 1120px;
  height: 314px;
  margin-bottom: 294px;
  position: relative;
  overflow: visible;
}
.answer-card .card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.answer-card .card-content .number {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 80px;
  height: 80px;
  border: 4px solid #f47304;
  background-color: #3599fb;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e38e00), to(#f47304));
  background-image: linear-gradient(to top, #e38e00 0%, #f47304 100%);
  border-radius: 50%;
  -webkit-transform: translate(-8px, -8px);
          transform: translate(-8px, -8px);
}
.answer-card .card-content .number h4 {
  width: 72px;
  text-align: center;
  color: #ffffff;
  font-size: 72px;
  line-height: 72px;
}
.answer-card .card-content .content {
  margin-top: 15px;
  width: 440px;
  margin-left: 8px;
  margin-bottom: 40px;
}
.answer-card .card-content .content h3 {
  color: #d55906;
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.answer-card .card-content .content p {
  font-family: "Barlow Condensed", sans-serif;
  color: #010101;
  font-size: 28px;
  font-weight: 400;
}
.answer-card .shape-yt {
  position: absolute;
  height: 570px;
  width: 570px;
  right: -30px;
}
.answer .flex-right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-bottom: 40px !important;
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}
.answer .flex-right .shape-yt {
  left: -30px;
  -webkit-transform: translateY(-254px);
          transform: translateY(-254px);
}
.answer .flex-right .card-content {
  padding-right: 25px;
}
.answer .purple {
  background-color: #ffccee;
}
.answer .purple .card-content .number {
  background-color: #3599fb;
  border: 4px solid #ca0b77;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ca0b77), to(#ff81d1));
  background-image: linear-gradient(to top, #ca0b77 0%, #ff81d1 100%);
}
.answer .purple .card-content .content h3 {
  color: #a200ba;
}
.answer .blue {
  background-color: #cae5ff;
}
.answer .blue .card-content .number {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#208ffa), to(#81dfff));
  background-image: linear-gradient(to top, #208ffa 0%, #81dfff 100%);
  border: 4px solid #0b4a8e;
  background-color: #3599fb;
}
.answer .blue .card-content .content h3 {
  color: #004588;
}

.members {
  background-color: #cae5ff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: clip;
}
.members-wrapper {
  width: 1150px;
  z-index: 2;
}
.members-kids {
  margin-top: 140px;
  width: 100%;
  background-color: #88d1ff;
  border-radius: 15px 15px 15px 15px;
  position: relative;
}
.members-kids-header {
  width: 100%;
  height: 200px;
  border-radius: 15px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#00a2ff), to(#81cbff));
  background-image: linear-gradient(to top, #00a2ff 0%, #81cbff 100%);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.members-kids-header img {
  position: absolute;
}
.members-kids-header img.cup-img {
  right: -80px;
  bottom: -20px;
}
.members-kids-header img.kids-img {
  left: -20px;
  bottom: -80px;
}
.members-kids-header h2 {
  width: 700px;
  color: #ffffff;
  font-size: 55px;
}
.members-kids-content {
  padding: 40px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.members-kids-content .item {
  width: 370px;
}
.members-kids-content .item .text h3 {
  color: #060051;
  font-family: "Barlow Condensed", sans-serif;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
}
.members-kids-content .item .text p {
  font-family: "Barlow Condensed", sans-serif;
  color: #010101;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
}
.members-kids-content .item .img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.members .ui-img-1 {
  position: absolute;
  top: -300px;
  z-index: -1;
}
.members .ui-img-2 {
  position: absolute;
  bottom: 0;
  left: -100px;
  z-index: 1;
}
.members .ui-img-3 {
  position: absolute;
  bottom: 0;
  right: -100px;
  z-index: 1;
}

.teams {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.teams-wrapper {
  margin-top: 50px;
  width: 1150px;
}
.teams-header {
  font-size: 71px;
  color: #1ca4ff;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 58px;
}
.teams-members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.teams-members .member {
  width: 354px;
}
.teams-members .member h4,
.teams-members .member p {
  font-family: "Barlow Condensed";
  text-align: center;
}
.teams-members .member-info h4 {
  font-size: 28px;
  font-weight: 700;
}
.teams-members .member-info p {
  font-size: 28px;
  font-weight: 400;
}
.teams-img {
  position: absolute;
  left: 0;
  top: 0;
}

.notification {
  height: 300px;
  width: 100%;
  background-color: #ff7e00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.notification-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.notification-content {
  text-align: center;
  text-transform: uppercase;
}
.notification-content h2 {
  font-size: 67px;
  color: #ffffff;
  margin-bottom: 20px;
}
.notification-content a {
  font-size: 46px;
  color: #ffea00;
  padding: 13px 100px;
  border-radius: 33px;
  background-color: #000264;
}
.notification-img {
  width: 200px;
  height: 200px;
}

.contact {
  width: 100%;
  margin-top: 10px;
  background-image: url("../../images/Homepage/bg-gift-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.contact-wrapper {
  width: 1150px;
  height: 100%;
  margin: 0 auto;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contact-bg {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.contact-title-text {
  width: 580px;
  height: 78px;
  background-image: url("../../images/Homepage/ui-rectangle-1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  position: relative;
}
.contact-title-text h2 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 46px;
  font-weight: 700;
  line-height: 78px;
}
.contact-title img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.contact-title-percent {
  height: 130px;
  width: 150px;
  background-image: url("../../images/Homepage/ui-percent.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: -30px;
  top: -30px;
}
.contact-title-percent h3 {
  text-align: center;
  line-height: 130px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 800;
  color: #ffffff;
  font-size: 50px;
}
.contact-form {
  width: 430px;
  height: 600px;
  border-radius: 12px;
  background-color: #cae4ff;
  z-index: 100;
}
.contact-form-header {
  margin-top: 40px;
  width: 100%;
  height: 45px;
  background-image: url("../../images/Homepage/ui-rectangle-2.png");
  text-align: center;
  line-height: 45px;
  font-size: 28px;
  color: #ffffff;
}
.contact-form form {
  padding: 40px 26px;
}
.contact-form form input {
  width: calc(100% - 52px);
  height: 31px;
  border-radius: 28px;
  border: none;
  margin-bottom: 30px;
  padding: 12px 26px;
  font-size: 28px;
}
.contact-form form button {
  width: 360px;
  height: 54px;
  border-radius: 27px;
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ff9c00), to(#fffc00));
  background-image: linear-gradient(to top, #ff9c00 0%, #fffc00 100%);
  border: none;
  font-size: 28px;
  color: #c80000;
  text-transform: uppercase;
}
.contact-footer {
  width: 100%;
  height: 120px;
  background-color: #fffc00;
  position: relative;
  z-index: 1;
}
.contact-footer img {
  position: absolute;
  left: 350px;
  top: -40px;
}

.footer {
  background-image: url("../../images/Homepage/ui-bg-footer.png");
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}
.footer-wrapper {
  padding-top: 50px;
  width: 1150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer-wrapper-info {
  width: 600px;
  color: #ffffff;
}
.footer-wrapper-info * {
  font-family: "Barlow Condensed", sans-serif;
}
.footer-wrapper-info h2 {
  font-size: 28px;
  font-weight: 700;
}
.footer-wrapper-info p {
  font-size: 20px;
  font-weight: 400;
}
.footer-wrapper-info .location-list {
  margin-top: 15px;
}
.footer-wrapper-info .location-list .location-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 42px;
  gap: 10px;
  margin-bottom: 10px;
}
.footer-wrapper-info .location-list .location-item div {
  font-size: 20px;
  font-weight: 500;
  margin-top: auto;
  margin-bottom: auto;
}
.footer-wrapper-social {
  margin-top: 70px;
}
.footer-wrapper-social * {
  font-family: "Barlow Condensed", sans-serif;
}
.footer-wrapper-social h3 {
  color: #ffffff;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 35px;
}
.footer-wrapper-social .social-link {
  margin-bottom: 28px;
}
.footer-wrapper-social .social-link a {
  margin-left: 10px;
}
.footer-wrapper-social .social-download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer-wrapper-social .social-download a {
  margin-right: 40px;
}
.footer-end {
  display: inline-block;
  width: 100%;
  border-top: 3px solid rgba(255, 255, 255, 0.32);
  text-align: center;
}
.footer-end p {
  padding: 13px;
  font-family: "Barlow Condensed", sans-serif;
  color: #ffffff;
}

@media screen and (max-width: 1299px) {
  .header-menu {
    display: none;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 60px;
    gap: 0px;
    width: 100%;
  }
  .header-menu a {
    background-color: #ffffff;
    color: #247ee3;
    width: 100%;
    border-radius: 0;
  }
  .header-menu a:hover {
    background-color: #2e6196;
    color: #ffffff;
  }
  .header .icon {
    display: inline;
  }
  .header-container {
    width: 80%;
  }
}
@media screen and (min-width: 1300px) {
  .header .icon {
    display: none;
  }
  .header-container {
    min-width: 1300px;
  }
}

@media (max-width: 575.98px) {
  .footer .location-list .location-item {
    height: auto;
  }
  .footer .location-list .location-item img {
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media (max-width: 767.98px) {
  .footer-wrapper-info {
    width: 100%;
  }
  .footer-wrapper-social {
    width: 100%;
  }
}
@media (max-width: 1199.98px) {
  .footer-wrapper {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 20px 12px;
  }
}

@media (max-width: 575.98px) {
  .body .slider-header {
    font-size: 35px !important;
  }
  .body .slider .people {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media (max-width: 767.98px) {
  .body .slider-header {
    width: 100%;
    font-size: 40px;
  }
  .body .slider .gogo {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .body .slider-header {
    font-size: 50px;
  }
  .body .slider-sub {
    display: none;
  }
}
@media (max-width: 1000px) {
  .body .slider .cloud1,
.body .slider .cloud2,
.body .slider .phone,
.body .slider .gift1,
.body .slider .gift2,
.body .slider .star1,
.body .slider .star2 {
    display: none;
  }
}
@media (max-width: 575.98px) {
  .body .introduce {
    height: 100%;
  }
  .body .introduce ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }
}
@media (max-width: 767.98px) {
  .body .introduce ul {
    width: 100%;
  }
  .body .introduce-list span {
    font-size: 60px;
    line-height: 60px;
  }
}
@media (max-width: 1199.98px) {
  .body .introduce-rocket {
    display: none;
  }
}
@media (min-width: 1200px) {
  .body .introduce ul {
    width: 70%;
  }
}
@media (max-width: 575.98px) {
  .body .achievement-card {
    width: 100% !important;
  }
  .body .achievement-wrapper {
    width: 95%;
    padding-right: 0 !important;
  }
}
@media (max-width: 850px) {
  .body .achievement-effective .content-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .body .achievement-effective .content-col .col-text {
    width: 90% !important;
  }
}
@media (max-width: 991.98px) {
  .body .achievement-effective img {
    display: none;
  }
}
@media (max-width: 1199.98px) {
  .body .achievement-wrapper {
    padding-right: 10px;
  }
  .body .achievement-card-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .body .achievement #achievement-card {
    display: none;
  }
  .body .achievement-card {
    width: 550px;
    padding-top: 10px;
  }
  .body .achievement-card .card-img {
    padding-bottom: 10px;
    height: 395px;
  }
  .body .achievement-card .card-img img {
    -o-object-fit: none;
       object-fit: none;
  }
  .body .achievement-card .card-info .text-decor {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .body .achievement-card .card-info .line {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .body .achievement-wrapper {
    width: 1150px;
  }
  .body .achievement-card {
    display: block;
  }
  .body .achievement-card-list {
    display: none;
  }
}
@media (max-width: 575.98px) {
  .body .method-yt img {
    width: 100%;
  }
  .body .method-title {
    font-size: 55px;
  }
  .body .method-sub-title {
    font-size: 34px;
  }
}
@media (max-width: 991.98px) {
  .body .method-list {
    width: 100% !important;
  }
}
@media (max-width: 1199.98px) {
  .body .method {
    padding-bottom: 40px;
  }
  .body .method-game {
    display: none;
  }
  .body .method-wrapper {
    width: 100%;
  }
  .body .method-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .body .method-yt {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .body .method-yt img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .body .method-list {
    width: 50%;
  }
}
@media (max-width: 767.98px) {
  .body .question-wrapper h2 {
    font-size: 25px !important;
  }
}
@media (max-width: 991.98px) {
  .body .question-wrapper h2 {
    font-size: 35px;
  }
}
@media (max-width: 1199.98px) {
  .body .question-wrapper {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .body .question-wrapper img {
    display: none;
  }
}
@media (max-width: 575.98px) {
  .body .question-wrapper h2 {
    font-size: 20px !important;
  }
}
@media (max-width: 575.98px) {
  .body .answer-card {
    width: 90% !important;
  }
  .body .answer-card .shape-yt {
    width: 100%;
    height: 100%;
  }
  .body .answer-card .shape-yt img {
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 10px;
  }
}
@media (max-width: 1199.98px) {
  .body .answer-wrapper {
    width: 100%;
  }
  .body .answer-card {
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 10px auto;
  }
  .body .answer-card .shape-yt {
    position: relative;
    right: 0;
  }
  .body .answer-card .card-content {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px 20px;
  }
  .body .answer-card .card-content .content {
    width: 100%;
  }
}
@media (max-width: 767.98px) {
  .body .members-kids-header h2 {
    width: 100%;
    font-size: 40px;
  }
}
@media (max-width: 1199.98px) {
  .body .members-kids-header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .body .members-kids-header .kids-img,
.body .members-kids-header .cup-img {
    display: none;
  }
  .body .members-kids-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
  }
}
@media (max-width: 575.98px) {
  .body .teams-header {
    font-size: 50px !important;
  }
}
@media (max-width: 767.98px) {
  .body .teams-header {
    font-size: 60px;
  }
}
@media (max-width: 1199.98px) {
  .body .teams-img {
    display: none;
  }
}
@media (max-width: 575.98px) {
  .body .contact-title-percent {
    top: -75px;
  }
  .body .contact-title-text h2 {
    font-size: 35px;
  }
}
@media (max-width: 1199.98px) {
  .body .contact-wrapper {
    width: 100%;
    gap: 50px;
    padding-bottom: 120px;
  }
  .body .contact-title-text {
    width: 100%;
  }
  .body .contact-footer img {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@media (max-width: 575.98px) {
  .body .blog-wrapper h2 {
    font-size: 55px;
  }
  .body .blog-main, .body .blog-sub {
    width: 90% !important;
  }
  .body .blog-list {
    padding: 0 !important;
  }
  .body .blog-main b {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .body .blog-main p {
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .body .blog-item-content {
    max-height: 200px;
  }
  .body .blog-item-content b {
    font-size: 20px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .body .blog-item-content p {
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media (max-width: 991.98px) {
  .body .blog-list {
    padding: 0 20px;
  }
  .body .blog-wrapper {
    width: 100%;
  }
}
@media (max-width: 1199.98px) {
  .body .blog-main, .body .blog-sub {
    width: 80%;
  }
}
@media (max-width: 575.98px) {
  .body .notification-img {
    display: none;
  }
  .body .notification-content h2 {
    font-size: 30px !important;
  }
  .body .notification-content a {
    padding: 13px 20px;
  }
}
@media (max-width: 767.98px) {
  .body .notification-content h2 {
    font-size: 40px !important;
  }
  .body .notification-content a {
    font-size: 30px !important;
    padding: 13px 30px;
  }
}
@media (max-width: 991.98px) {
  .body .notification-content h2 {
    font-size: 50px;
  }
  .body .notification-content a {
    font-size: 40px;
  }
}/*# sourceMappingURL=app.homepage.css.map */