.header {
  width: 100%;
  height: 60px;
  background-color: #2e6196;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  top: 0;
}
.header-container {
  display: flex;
  width: 1200px;
  justify-content: space-between;
}
.header-menu {
  display: flex;
  align-items: center;
}
.header-menu ul li a {
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #247ee3;
  color: white;
  padding: 8px 12px;
}

@font-face {
  font-family: "Linotte";
  src: url("../fonts/Linotte Bold.ttf");
}
* {
  margin: 0px;
  padding: 0px;
  font-family: "Linotte";
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.slider {
  width: 100%;
  height: 930px;
  background-color: #2786ec;
  position: relative;
  overflow: hidden;
}
.slider-img {
  position: absolute;
}
.slider .logo {
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
}
.slider .people {
  left: 50%;
  top: 335px;
  transform: translateX(-50%);
}
.slider-header {
  width: 870px;
  position: absolute;
  font-size: 69px;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.slider .btn {
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);
}
.slider .start1 {
  bottom: 10px;
  right: 150px;
  mix-blend-mode: lighten;
}
.slider .start2 {
  top: 50px;
  left: 200px;
  mix-blend-mode: lighten;
}
.slider .gogo {
  right: 250px;
  bottom: -100px;
}
.slider .phone {
  bottom: -100px;
  left: 150px;
  z-index: 2;
}
.slider .gift1 {
  bottom: 300px;
  right: 200px;
}
.slider .gift2 {
  bottom: 50px;
  left: 450px;
  z-index: 3;
}
.slider .cloud {
  top: 350px;
  right: 150px;
}
.slider-sub {
  width: 380px;
  text-align: center;
  font-size: 27px;
  position: absolute;
  top: 380px;
  right: 160px;
  color: #1f417b;
}
.slider .cloud1 {
  top: 15px;
  right: 20px;
}
.slider .cloud2 {
  bottom: 230px;
  z-index: 1;
}

.body {
  margin-top: 60px;
}

.introduce {
  width: 100%;
  height: 170px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.introduce ul {
  display: flex;
  justify-content: space-between;
  height: 140px;
  width: 900px;
}
.introduce-list {
  width: 180px;
  text-align: center;
}
.introduce-list p {
  color: #247ddc;
  font-size: 22px;
  font-weight: 400;
}
.introduce-list h4 {
  font-size: 24px;
  text-shadow: -1px 6px 4px rgba(0, 0, 0, 0.22);
  color: #ce393b;
}
.introduce-list span {
  font-size: 100px;
  color: #ce393b;
  text-shadow: -1px 6px 4px rgba(0, 0, 0, 0.22);
  line-height: 100px;
  font-weight: 400;
}
.introduce-rocket {
  position: absolute;
  left: 150px;
  bottom: -100px;
  z-index: 100;
}

.achievement {
  width: 100%;
  background-color: #2786ec;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.achievement-wrapper {
  width: 1150px;
  position: relative;
}
.achievement-rocket {
  position: absolute;
  top: -50px;
  left: -40px;
}
.achievement-effective {
  margin-top: 55px;
  display: flex;
}
.achievement-effective .content {
  margin-left: 50px;
}
.achievement-effective .content-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 68px;
}
.achievement-effective .content-dotted {
  border-bottom: 1px dotted #fff;
  width: 100%;
  margin: 17px 0px;
}
.achievement-effective .content-row {
  display: flex;
}
.achievement-effective .content-col {
  display: flex;
  flex-direction: row;
}
.achievement-effective .content-col .col-no-per {
  width: 300px !important;
  border-radius: 2px 39px 40px 2px;
  margin-right: 41px;
}
.achievement-effective .content-col .info {
  font-size: 27px;
  color: #ffffff;
}
.achievement-effective .content-col .info span {
  color: #fffc00;
}
.achievement-effective .content-col .col-text {
  width: 265px;
  height: 80px;
  background-color: #ffffff;
  line-height: 80px;
  text-align: center;
}
.achievement-effective .content-col .col-text h3 {
  font-size: 34px;
}
.achievement-effective .content-col .col-text h3.color-text1 {
  color: #247ddc;
}
.achievement-effective .content-col .col-text h3.color-text2 {
  color: #33b804;
}
.achievement-effective .content-col .col-text h3.color-text3 {
  color: #ff6000;
}
.achievement-effective .content-col .col-text h3.color-text4 {
  color: #ff9c00;
}
.achievement-effective .content-col .col-per {
  width: 82px;
  height: 82px;
  border-radius: 50%;
  background-image: radial-gradient(circle 61px at 47.76% 44.89%, #19c2d2 0%, #051caa 100%);
  transform: translateX(-50%);
}
.achievement-effective .content-col .col-per h3 {
  color: #ffffff;
  font-size: 34px;
  text-align: center;
  line-height: 82px;
}
.achievement-card {
  width: 100%;
  border-radius: 20px;
  background-color: #ffffff;
  margin-top: 54px;
  margin-bottom: 30px;
}
.achievement-card .card-img {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.achievement-card .card-img img {
  -o-object-fit: contain;
     object-fit: contain;
}
.achievement-card .card-img img.img-center {
  transform: translateY(-50px);
}
.achievement-card .card-info {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.achievement-card .card-info .text-decor {
  width: 1078px;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to right, rgba(39, 134, 236, 0.99) 90%, rgba(255, 255, 255, 0) 0%);
  background-position: top;
  background-size: 15px 1px;
  background-repeat: repeat-x;
}
.achievement-card .card-info .text-decor h3 {
  text-align: center;
  color: #ce393b;
  font-size: 64px;
  text-shadow: -1px 6px 4px rgba(0, 0, 0, 0.22);
  -webkit-text-stroke: 2px #fff;
  min-width: 300px;
}
.achievement-card .card-info .text-decor h4 {
  line-height: 60px;
  min-width: 300px;
  text-align: center;
  color: #247ddc;
  font-size: 33px;
}
.achievement-card .card-info .line {
  width: 1078px;
  height: 45px;
  background-image: linear-gradient(to right, rgba(39, 134, 236, 0.99) 90%, rgba(255, 255, 255, 0) 0%);
  background-position: top;
  background-size: 15px 1px;
  background-repeat: repeat-x;
}
.achievement-cloud1 {
  position: absolute;
  left: -340px;
  bottom: 500px;
  z-index: 100;
}
.achievement-cloud2 {
  position: absolute;
  bottom: -100px;
  right: -300px;
}

.method {
  width: 100%;
  background-color: #cae5ff;
  position: relative;
}
.method-game {
  position: absolute;
  top: -100px;
  right: 100px;
}
.method-line-1 {
  position: absolute;
  bottom: 0;
  width: 100vw;
  overflow: hidden;
}
.method-line-2 {
  position: absolute;
  bottom: 0;
  width: 100vw;
  overflow: hidden;
}
.method-title {
  text-align: center;
  padding-top: 60px;
  background: linear-gradient(to top, #05af55 0%, #52c0ff 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-size: 71px;
}
.method-sub-title {
  text-align: center;
  margin-top: 13px;
  font-size: 41px;
  color: #000000;
}
.method-content {
  display: flex;
  justify-content: center;
}
.method-yt {
  transform: translateY(-30px);
}
.method-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 24px;
       column-gap: 24px;
  width: 1150px;
  position: relative;
}
.method-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}
.method-list-item {
  width: 555px;
  height: 60px;
  border-radius: 6px;
  background-color: #ffffff;
  opacity: 0.6;
  padding: 8px 9px;
  display: flex;
  gap: 10px;
}
.method-list-item .line {
  width: 12px;
  height: 100%;
  border-radius: 6px;
  background-color: #cae5ff;
  background-image: linear-gradient(to top, #208ffa 0%, #81dfff 100%);
}
.method-list-item div {
  font-size: 21px;
  color: #004588;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 30px;
  margin-top: auto;
  margin-bottom: auto;
}

.question {
  width: 100%;
  height: 190px;
  background-color: #ff6600;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.question-wrapper {
  width: 1150px;
  height: 160px;
  border-radius: 78px;
  background-color: rgba(255, 255, 255, 0.6);
  position: relative;
  display: flex;
  align-items: center;
}
.question-wrapper h2 {
  color: #ffffff;
  font-size: 45px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}
.question-wrapper img {
  transform: translateX(-50px);
}

.blog {
  width: 100%;
  background-color: #ffffff;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.blog-wrapper {
  margin-top: 85px;
  width: 1150px;
}
.blog-wrapper h2 {
  text-align: center;
  text-transform: uppercase;
  color: #ff7e00;
  font-size: 71px;
}
.blog-list {
  width: 100%;
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 200px 200px;
  -moz-column-gap: 70px;
       column-gap: 70px;
  row-gap: 25px;
}
.blog-list * {
  font-family: "Barlow Condensed", sans-serif;
}
.blog-item {
  display: flex;
  gap: 22px;
}
.blog-item-content b {
  color: #000000;
  font-size: 28px;
  font-weight: 700;
}
.blog-item-content i {
  display: block;
  font-size: 22px;
  color: #010101;
  font-weight: 400;
}
.blog-item-content p {
  color: #010101;
  font-size: 19px;
  font-weight: 400;
}
.blog-item:nth-child(1) {
  grid-column: 2/3;
  grid-row: 1/2;
}
.blog-item:nth-child(2) {
  grid-column: 2/3;
  grid-row: 2/3;
}
.blog-item:nth-child(3) {
  grid-column: 2/3;
  grid-row: 3/4;
}
.blog-main {
  grid-column: 1/2;
  grid-row: 1/4;
}
.blog-main img {
  margin-bottom: 20px;
}
.blog-main b {
  color: #000000;
  font-size: 28px;
}
.blog-main i {
  display: block;
  color: #010101;
  font-size: 22px;
}
.blog-main p {
  font-size: 28px;
  color: #010101;
  line-height: 37px;
  font-weight: 400;
}

.answer {
  display: flex;
  justify-content: center;
}
.answer-wrapper {
  width: 1150px;
  padding-top: 30px;
}
.answer-card {
  display: flex;
  background-color: #ffdec8;
  border-radius: 20px;
  width: 1120px;
  height: 314px;
  margin-bottom: 294px;
  position: relative;
  overflow: visible;
}
.answer-card .card-content {
  display: flex;
}
.answer-card .card-content .number {
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  border: 4px solid #f47304;
  background-color: #3599fb;
  background-image: linear-gradient(to top, #e38e00 0%, #f47304 100%);
  border-radius: 50%;
  transform: translate(-8px, -8px);
}
.answer-card .card-content .number h4 {
  width: 72px;
  text-align: center;
  color: #ffffff;
  font-size: 72px;
  line-height: 72px;
}
.answer-card .card-content .content {
  margin-top: 15px;
  width: 440px;
  margin-left: 8px;
  margin-bottom: 40px;
}
.answer-card .card-content .content h3 {
  color: #d55906;
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.answer-card .card-content .content p {
  font-family: "Barlow Condensed", sans-serif;
  color: #010101;
  font-size: 28px;
  font-weight: 400;
}
.answer-card .shape-yt {
  position: absolute;
  height: 570px;
  width: 570px;
  right: -30px;
}
.answer .flex-right {
  flex-direction: row-reverse;
  margin-bottom: 40px !important;
  transform: translateX(30px);
}
.answer .flex-right .shape-yt {
  left: -30px;
  transform: translateY(-254px);
}
.answer .flex-right .card-content {
  padding-right: 25px;
}
.answer .purple {
  background-color: #ffccee;
}
.answer .purple .card-content .number {
  background-color: #3599fb;
  border: 4px solid #ca0b77;
  background-image: linear-gradient(to top, #ca0b77 0%, #ff81d1 100%);
}
.answer .purple .card-content .content h3 {
  color: #a200ba;
}
.answer .blue {
  background-color: #cae5ff;
}
.answer .blue .card-content .number {
  background-image: linear-gradient(to top, #208ffa 0%, #81dfff 100%);
  border: 4px solid #0b4a8e;
  background-color: #3599fb;
}
.answer .blue .card-content .content h3 {
  color: #004588;
}

.members {
  background-color: #cae5ff;
  position: relative;
  display: flex;
  justify-content: center;
  overflow-x: clip;
}
.members-wrapper {
  width: 1150px;
  z-index: 2;
}
.members-kids {
  margin-top: 140px;
  width: 100%;
  background-color: #88d1ff;
  border-radius: 15px 15px 15px 15px;
  position: relative;
}
.members-kids-header {
  width: 100%;
  height: 200px;
  border-radius: 15px;
  background-image: linear-gradient(to top, #00a2ff 0%, #81cbff 100%);
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.members-kids-header img {
  position: absolute;
}
.members-kids-header img.cup-img {
  right: -80px;
  bottom: -20px;
}
.members-kids-header img.kids-img {
  left: -20px;
  bottom: -80px;
}
.members-kids-header h2 {
  width: 700px;
  color: #ffffff;
  font-size: 55px;
}
.members-kids-content {
  padding: 40px 10px;
  display: flex;
  justify-content: space-around;
}
.members-kids-content .item {
  width: 370px;
}
.members-kids-content .item .text h3 {
  color: #060051;
  font-family: "Barlow Condensed", sans-serif;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
}
.members-kids-content .item .text p {
  font-family: "Barlow Condensed", sans-serif;
  color: #010101;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
}
.members-kids-content .item .img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.members .ui-img-1 {
  position: absolute;
  top: -300px;
  z-index: -1;
}
.members .ui-img-2 {
  position: absolute;
  bottom: 0;
  left: -100px;
  z-index: 1;
}
.members .ui-img-3 {
  position: absolute;
  bottom: 0;
  right: -100px;
  z-index: 1;
}

.teams {
  display: flex;
  justify-content: center;
  position: relative;
}
.teams-wrapper {
  margin-top: 50px;
  width: 1150px;
}
.teams-header {
  font-size: 71px;
  color: #1ca4ff;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 58px;
}
.teams-members {
  display: flex;
  justify-content: space-between;
}
.teams-members .member {
  width: 354px;
}
.teams-members .member h4,
.teams-members .member p {
  font-family: "Barlow Condensed";
  text-align: center;
}
.teams-members .member-info h4 {
  font-size: 28px;
  font-weight: 700;
}
.teams-members .member-info p {
  font-size: 28px;
  font-weight: 400;
}
.teams-img {
  position: absolute;
  left: 100px;
  top: 0;
}

.notification {
  height: 300px;
  width: 100%;
  background-color: #ff7e00;
  display: flex;
  justify-content: center;
}
.notification-wrapper {
  width: 1150px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.notification-content {
  text-align: center;
  text-transform: uppercase;
}
.notification-content h2 {
  font-size: 67px;
  color: #ffffff;
  margin-bottom: 20px;
}
.notification-content a {
  font-size: 46px;
  color: #ffea00;
  padding: 13px 100px;
  border-radius: 33px;
  background-color: #000264;
}
.notification-img {
  width: 200px;
  height: 200px;
}

.contact {
  width: 100%;
  height: 670px;
  margin-top: 10px;
  background-image: url("/images/ui-bg-gift.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.contact-wrapper {
  width: 1150px;
  height: 500px;
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  gap: 200px;
}
.contact-bg {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.contact-title-text {
  width: 580px;
  height: 78px;
  background-image: url("../images/ui-rectangle-1.png");
  text-align: center;
  position: relative;
}
.contact-title-text h2 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 46px;
  font-weight: 700;
  line-height: 78px;
}
.contact-title-percent {
  height: 130px;
  width: 150px;
  background-image: url("../images/ui-rectangle-2.png");
  position: absolute;
  right: -30px;
  top: -30px;
}
.contact-title-percent h3 {
  text-align: center;
  line-height: 130px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 800;
  color: #ffffff;
  font-size: 50px;
}
.contact-form {
  width: 430px;
  height: 600px;
  border-radius: 12px;
  background-color: #cae4ff;
  z-index: 100;
}
.contact-form-header {
  margin-top: 40px;
  width: 100%;
  height: 45px;
  background-image: url("/images/ui-rectangle-2.png");
  text-align: center;
  line-height: 45px;
  font-size: 28px;
  color: #ffffff;
}
.contact-form form {
  padding: 40px 26px;
}
.contact-form form input {
  width: calc(100% - 52px);
  height: 31px;
  border-radius: 28px;
  border: none;
  margin-bottom: 30px;
  padding: 12px 26px;
  font-size: 28px;
}
.contact-form form button {
  width: 360px;
  height: 54px;
  border-radius: 27px;
  background-color: #ffffff;
  background-image: linear-gradient(to top, #ff9c00 0%, #fffc00 100%);
  border: none;
  font-size: 28px;
  color: #c80000;
  text-transform: uppercase;
}
.contact-footer {
  width: 100%;
  height: 120px;
  background-color: #fffc00;
  position: relative;
  z-index: 1;
}
.contact-footer img {
  position: absolute;
  left: 350px;
  top: -40px;
}

.footer {
  background-image: url("../images/ui-bg-footer.png");
  height: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.footer-wrapper {
  padding-top: 50px;
  width: 1150px;
  display: flex;
  justify-content: space-between;
}
.footer-wrapper-info {
  width: 500px;
  color: #ffffff;
}
.footer-wrapper-info * {
  font-family: "Barlow Condensed", sans-serif;
}
.footer-wrapper-info h2 {
  font-size: 28px;
  font-weight: 700;
}
.footer-wrapper-info p {
  font-size: 20px;
  font-weight: 400;
}
.footer-wrapper-info .location-list {
  margin-top: 15px;
}
.footer-wrapper-info .location-list .location-item {
  display: flex;
  height: 42px;
  gap: 10px;
  margin-bottom: 10px;
}
.footer-wrapper-info .location-list .location-item div {
  font-size: 20px;
  font-weight: 500;
  margin-top: auto;
  margin-bottom: auto;
}
.footer-wrapper-social {
  margin-top: 70px;
}
.footer-wrapper-social * {
  font-family: "Barlow Condensed", sans-serif;
}
.footer-wrapper-social h3 {
  color: #ffffff;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 35px;
}
.footer-wrapper-social .social-link {
  margin-bottom: 28px;
}
.footer-wrapper-social .social-link a {
  margin-left: 10px;
}
.footer-wrapper-social .social-download a {
  margin-right: 40px;
}
.footer-end {
  display: inline-block;
  width: 100%;
  border-top: 3px solid rgba(255, 255, 255, 0.32);
  text-align: center;
}
.footer-end p {
  padding: 13px;
  font-family: "Barlow Condensed", sans-serif;
  color: #ffffff;
}/*# sourceMappingURL=app.css.map */