* {
	margin: 0px;
	padding: 0px;
	font-family: "Linotte";
}
a {
	text-decoration: none;
	color: #1067c6;
	font-family: "Barlow Condensed", sans-serif;
	font-size: 29px;
}
ul {
	list-style-position: inside;
}
ul li {
	color: #322020;
	font-family: "Barlow Condensed", sans-serif;
	font-size: 29px;
	font-weight: 400;
}
