body {
	@media (max-width: 575.98px) {
		.title {
			&-header {
				width: 100%;
				h1 {
					padding-top: 20px;
					position: absolute;
					font-size: 45px;
				}
			}
		}
		.questions-item {
			.question {
				width: 100% !important;
				right: 0 !important;
				h3 {
					width: calc(90%) !important;
					margin: 0 auto;
					font-size: 25px !important;
				}
			}
		}
		.support {
			&-title {
				font-size: 35px !important;
			}
			&-list {
				padding: 0px 20px 20px;
			}
		}
	}
	@media (max-width: 400px) {
		.support {
			&-title {
				font-size: 30px !important;
			}
			&-item {
				width: 100%;
				height: auto;
				p {
					overflow-wrap: anywhere;
				}
				img {
					object-fit: contain;
				}
			}
		}
	}
	@media (max-width: 767.98px) {
		.support {
			&-title {
				font-size: 45px;
			}
		}
	}

	@media (max-width: 991.98px) {
	}
	@media (max-width: 1199.98px) {
		.title {
			height: 100%;
			&-wrapper {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
			}
			&-header {
				position: relative;
				top: 0;
				left: 0;
			}
			&-ui-gogo {
				position: relative;
				right: 0;
			}
		}
		.questions-list {
			.questions-item {
				width: 100%;
			}
		}
		.support {
			height: auto;
			&-wrapper {
				width: 100%;
				height: auto;
			}
			&-title {
				width: calc(80%);
			}
		}
	}
}
