.feedback {
	display: flex;
	justify-content: center;
	position: relative;
	background-color: #fff7dc;
	overflow: hidden;
	&-wrapper {
		width: 1200px;
		z-index: 10;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding-top: 24px;
		padding-bottom: 35px;
		gap: 32px;
	}
	&-ui {
		position: absolute;
		&-bg {
			z-index: 1;
		}
	}
	&-title {
		width: 600px;
		margin-top: 34px;
		display: flex;
		flex-direction: column;

		h2 {
			font-family: "Linotte Bold";
			font-size: 75px;
		}
		h2:nth-child(1) {
			color: #5698f6;
		}
		h2:nth-child(2) {
			color: #d83e66;
		}
		&-img1 {
			width: 520px;
			height: 461px;
			align-self: flex-end;
		}
		&-img2 {
			width: 191px;
			height: 208px;
		}
	}
	&-message {
		width: 477px;
		height: 822px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #f1f5f9;
	}
}
