.feedback {
	width: 100%;
	height: 1146px;
	display: flex;
	justify-content: center;
	background-color: #bde2ff;
	&-wrapper {
		width: 1200px;
		position: relative;
	}
	&-title {
		margin-top: 58px;
		width: 1095px;
		height: 102px;
		margin-left: auto;
		margin-right: auto;
		border-radius: 51px;
		background-color: #d1f9ff;
		color: #2681ff;
		font-size: 48px;
		line-height: 102px;
		text-align: center;
	}
	&-content {
		margin-top: 58px;
		width: 100%;
	}
	&-item {
		width: 100%;
		display: flex;
		background-image: linear-gradient(
			to right,
			#bde2ff 0%,
			#bde2ff 14%,
			#ffffff 100%
		);
		border-radius: 16px;
		&-img {
			width: 250px;
			height: 250px;
			background-color: #ffeede;
			background-image: linear-gradient(
				to right,
				#ff0000 0%,
				#f91362 50%,
				#ff8e44 100%
			);
			box-sizing: border-box;
			border-radius: 50%;
			padding: 13.5px;
			img {
				width: 223px;
				height: 223px;
			}
		}
		&-info {
			.title {
				display: flex;
				justify-content: space-between;
				position: relative;
				.name {
					width: 337px;
					height: 58px;
					border-radius: 0 20px;
					background-color: #000000;
					background-image: linear-gradient(
						to right,
						#ff0000 0%,
						#f91362 50%,
						#ff8e44 100%
					);
					text-align: center;
					line-height: 58px;
					color: #ffffff;
					font-family: "Linotte Bold";
					font-size: 35px;
					transform: translateY(-18px);
				}
				.icon {
					position: absolute;
					right: 10px;
					top: -80px;
					font-family: "Linotte Bold";
					color: #fd6c57;
					font-size: 184px;
					line-height: normal;
				}
			}
			p {
				padding-left: 32px;
				padding-right: 25px;
				font-size: 29px;
				color: #093a84;
			}
		}
	}
	&-item:not(:first-child) {
		margin-top: 55px;
	}

	.purple {
		.feedback-item-img {
			background-image: linear-gradient(to top, #ef0a6a 0%, #b6359c 100%);
		}
		.feedback-item-info {
			.title {
				.name {
					background-image: linear-gradient(to top, #ef0a6a 0%, #b6359c 100%);
				}
				.icon {
					color: #cc308b;
				}
			}
		}
	}
	.orange {
		.feedback-item-img {
			background-image: linear-gradient(to top, #efa60a 0%, #ff6600 100%);
		}
		.feedback-item-info {
			.title {
				.name {
					background-image: linear-gradient(to top, #efa60a 0%, #ff6600 100%);
				}
				.icon {
					color: #fc7c10;
				}
			}
		}
	}
}
