* {
	margin: 0px;
	padding: 0px;
	font-family: "Barlow Condensed", sans-serif;
	font-weight: 400;
}
.body {
	* {
		color: #102b49;
	}
}

a {
	text-decoration: none;
}
h1,
h2 {
	font-family: "Cookies" !important;
}
ul {
	list-style: none;
}
