.blog {
	width: 100%;
	background-color: #ffffff;
	position: relative;
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
	&-wrapper {
		margin-top: 85px;
		width: 1150px;
		h2 {
			text-align: center;
			text-transform: uppercase;
			color: #ff7e00;
			font-size: 71px;
		}
	}
	&-list {
		width: 100%;
		margin-top: 60px;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
		grid-template-rows: 600px repeat(auto-fit);
		column-gap: 70px;

		row-gap: 25px;
		* {
			font-family: "Barlow Condensed", sans-serif;
		}
	}
	&-item {
		display: flex;
		gap: 22px;
		&-content {
			b {
				color: #000000;
				font-size: 28px;
				font-weight: 700;
			}
			i {
				display: block;
				font-size: 22px;
				color: #010101;
				font-weight: 400;
			}
			p {
				color: #010101;
				font-size: 19px;
				font-weight: 400;
			}
		}
	}

	&-main {
		grid-column: 1/2;
		grid-row: 1/4;
		display: flex;
		flex-direction: column;
		height: 100%;
		img {
			margin-bottom: 20px;
		}
		b {
			display: block;
			color: #000000;
			font-size: 28px;
		}
		i {
			display: block;
			color: #010101;
			font-size: 22px;
		}
		p {
			font-size: 28px;
			color: #010101;
			line-height: 37px;
			font-weight: 400;
		}
	}
	&-sub {
		display: flex;
		flex-direction: column;
	}
}
