.notification {
	height: 300px;
	width: 100%;
	background-color: #ff7e00;
	display: flex;
	justify-content: center;
	&-wrapper {
		display: flex;
		align-items: center;
		gap: 30px;
	}
	&-content {
		text-align: center;
		text-transform: uppercase;
		h2 {
			font-size: 67px;
			color: #ffffff;
			margin-bottom: 20px;
		}
		a {
			font-size: 46px;
			color: #ffea00;

			padding: 13px 100px;
			border-radius: 33px;
			background-color: #000264;
		}
	}
	&-img {
		width: 200px;
		height: 200px;
	}
}
