@import "./responsive";
.header {
	width: 100vw;
	height: 60px;
	background-color: #2e6196;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 1000;
	top: 0;
	* {
		font-family: "Linotte Bold";
	}
	ul {
		list-style: none;
	}
	li {
		font-size: 25px;
	}
	&-container {
		display: flex;
		width: 1300px;
		justify-content: space-between;
		position: relative;
	}
	&-menu {
		display: flex;
		align-items: center;
		gap: 5px;
		a {
			font-size: 25px;
			font-weight: 700;
			text-transform: uppercase;
			border-radius: 4px;
			background-color: #247ee3;
			color: white;
			padding: 8px 12px;
		}
	}
}
