.header {
	// Small devices (landscape phones, 576px and up)
	@media (min-width: 576px) {
	}

	// Medium devices (tablets, 768px and up)
	@media (min-width: 768px) {
	}

	// Large devices (desktops, 992px and up)
	@media (min-width: 992px) {
	}

	// Extra large devices (large desktops, 1200px and up)
	@media (min-width: 1200px) {
	}
	@media screen and (max-width: 1299px) {
		&-menu {
			display: none;
			position: absolute;
			flex-direction: column;
			top: 60px;
			gap: 0px;

			width: 100%;
			a {
				background-color: #ffffff;
				color: #247ee3;
				width: 100%;
				border-radius: 0;
			}
			a:hover {
				background-color: #2e6196;
				color: #ffffff;
			}
		}
		.icon {
			display: inline;
		}
		&-container {
			width: 80%;
		}
	}
	@media screen and (min-width: 1300px) {
		.icon {
			display: none;
		}
		&-container {
			min-width: 1300px;
		}
	}
}

.footer {
	@media (max-width: 575.98px) {
		.location-list {
			.location-item {
				height: auto;
				img {
					object-fit: contain;
				}
			}
		}
	}

	// Small devices (landscape phones, less than 768px)
	@media (max-width: 767.98px) {
		&-wrapper {
			&-info {
				width: 100%;
			}
			&-social {
				width: 100%;
			}
		}
	}

	// Medium devices (tablets, less than 992px)
	@media (max-width: 991.98px) {
	}

	// Large devices (desktops, less than 1200px)
	@media (max-width: 1199.98px) {
		&-wrapper {
			width: 100%;
			box-sizing: border-box;
			padding: 20px 12px;
		}
	}
}
