@font-face {
	font-family: "Linotte Bold";
	src: url("../fonts/Linotte\ Bold.ttf");
}
@font-face {
	font-family: "Linotte Light";
	src: url("../fonts/Linotte\ Light.ttf");
}
@font-face {
	font-family: "Linotte Semi Bold";
	src: url("../../fonts/Linotte\ Semi\ Bold.ttf");
}
@font-face {
	font-family: "Linotte Heavy";
	src: url("../fonts/Linotte\ Heavy.ttf");
}
@font-face {
	font-family: "Linotte Regular";
	src: url("../fonts/Linotte\ Regular.ttf");
}

@font-face {
	font-family: "Cookies";
	src: url("../../fonts/SVN-Cookies.ttf");
}
@font-face {
	font-family: "Barlow Condensed - Semi Bold";
	src: url("../../fonts/BarlowCondensed-SemiBold.ttf");
}
$font-primary: "Linotte";
$bg-header-color: #2e6196;
