@font-face {
	font-family: "Linotte";
	src: url("../fonts/Linotte\ Bold.ttf");
}

@font-face {
	font-family: "Cookies";
	src: url("../../fonts/SVN-Cookies.ttf");
}
@font-face {
	font-family: "Barlow Condensed - Semi Bold";
	src: url("../../fonts/BarlowCondensed-SemiBold.ttf");
}
$font-primary: "Linotte";
$bg-header-color: #2e6196;
