body {
	@media (max-width: 575.98px) {
		.list-item {
			width: 80%;
		}
		.item-hot {
			.list-item-header-hot {
				left: -35px !important;
				top: 60px !important;
			}
		}
		.list-item {
			&-content {
				img {
					width: 100%;
				}
				&-info {
					h3.new-price {
						width: 100%;
					}
				}
			}
		}
	}

	@media (max-width: 1199.98px) {
		.list-wrapper {
			width: 100%;
		}
	}
	.contact {
		@media (max-width: 575.98px) {
			&-title {
				&-percent {
					top: -75px;
				}
			}
		}

		@media (max-width: 767.98px) {
		}

		@media (max-width: 991.98px) {
		}
		@media (max-width: 1199.98px) {
			&-wrapper {
				width: 100%;
				gap: 50px;
				padding-bottom: 120px;
			}
			&-title {
				&-text {
					width: 100%;
				}
			}
			&-footer {
				img {
					left: 50%;
					transform: translateX(-50%);
				}
			}
		}
	}
}
